#cinza {
  background-color: rgb(184, 189, 194);
  color: rgb(46, 44, 44);
}

#verde {
  background-color: rgb(178, 235, 178);
  color: rgb(0, 90, 0);
}

#amarelo {
  background-color: cornsilk;
  color: goldenrod;
}